## Assignment 1: Python group project due on Wednesday Feb. 7th @ 8AM
Use this notebook perform the following analyses using Python code and the **2018** compustat file. For the following questions, please write your answers to each question in the Canvas textbox. 

The code down below should support the answers you indicated; the code should be in an easy to follow format with comments to indicate what question you are trying to answer and what your code is accomplishing. You can also use MarkDown cells if you prefer that over commenting (you can read the tips on how to create markdown cells at the bottom of this file if you wish).

After you finish the analyses, please **make sure every cell is executed and all the returning results are presented**. Then you can save the file and submit it to Canvas by uploading it to the textbox like our first in-class assignment. **Each group only has to submit one file but everyone should make sure they are able to write and run the code.**

### Questions
- 1. Describe the dataset, *Compustat_fy2018.csv*, specifically identify:
    - How many observations are there? (1 point)
    - How many variables are there? (1 point)
    - What are the names of those variables? (1 point)

- 2. Now for Q2 and Q3, we will be performing an analysis about General Motors Co. (GM) to see whether it outperformed its industry during 2018. First, we need to find the SIC industry code for General Motors Co. (tic == 'GM'). **What is the SIC industry code for GM?** (2 points)
    
- 3. (6 points) Since performance is a construct (i.e., a concept), we pick two common measures that capture performance: Return on Equity and Asset Turnover Ratio. Calculate these two measures using the definition below and answer: did GM outperform its industry **average** (mean) in fiscal year 2018 for each of the following two measures?
    - Return on Equity, ROE: (net income /  total equity)
    - Asset turnover ratio: (revenue / total assets)
    
    *hints:*
    - *the only command we know so far that gives us an average is describe*
    - *Once you find GM's industry code, how can we limit our dataframe to just companies with the same SIC code (including GM)? Then, how can we find the average of our new variables?*
    - *You should include GM in the industry average.*

**Remember to specify your answers in the textbox below and then upload your saved and executed Jupyter Notebook to the Canvas textbox to support your answers (14 points)**

### Reference: Variable Definitions for the 2018 Compustat file
Variable Definitions in the unaltered Compustat_fy2018.csv file:
- tic (ticker symbol)
- conm (company name)
- datadate (fiscal year end)
- fyear (fiscal year)
- at (total assets)
- lt (total liabilities)
- teq (total equities)
- revt (revenue)
- ni (net income)
- exchg (numeric exchange code; 11 = New York Stock Exchange; 12 = American Stock Exchange; 14 = NASDAQ)
- sic (Industry classification code)

In [5]:
import pandas as pd
df = pd.read_csv('Compustat_fy2018.csv')
df

,tic,conm,datadate,fyear,at,lt,teq,revt,ni,exchg,sic
0,AIR,AAR CORP,31MAY2019,2018,1517.200,611.300,905.900,2051.800,7.500,11.0,5080.0
1,AAL,AMERICAN AIRLINES GROUP INC,31DEC2018,2018,60580.000,60749.000,-169.000,44541.000,1412.000,14.0,4512.0
2,CECE,CECO ENVIRONMENTAL CORP,31DEC2018,2018,392.582,214.022,178.560,337.339,-7.121,14.0,3564.0
3,ASA,ASA GOLD AND PRECIOUS METALS,30NOV2018,2018,196.072,1.238,194.834,1.629,-48.789,11.0,6799.0
4,PNW,PINNACLE WEST CAPITAL CORP,31DEC2018,2018,17664.202,12315.497,5348.705,3691.247,511.047,11.0,4911.0
...,...,...,...,...,...,...,...,...,...,...,...
4640,GRIN,GRINDROD SHIPPING,31DEC2018,2018,447.627,155.124,292.503,319.018,-20.640,14.0,4412.0
4641,CALT,CALLIDITAS THERAPE,31DEC2018,2018,72.962,3.403,69.559,0.000,-14.859,14.0,2834.0
4642,NMCI,NAVIOS MARITIME CONTAINERS,31DEC2018,2018,413.527,231.054,182.473,133.921,12.700,14.0,4412.0
4643,ACA,ARCOSA INC,31DEC2018,2018,2172.200,487.700,1684.500,1460.400,75.700,11.0,3440.0
4644,CTRM,CASTOR MARITIME INC,30SEP2018,2018,9.624,0.149,9.475,3.961,0.981,14.0,4412.0

In [6]:
df.describe()

,fyear,at,lt,teq,revt,ni,exchg,sic
count,4645.0,4.645000e+03,4.645000e+03,4645.000000,4645.000000,4645.000000,4645.000000,4645.000000
mean,2018.0,1.703913e+04,1.357904e+04,3443.285950,4890.695182,382.063879,12.724865,4808.609688
std,0.0,1.156388e+05,1.050819e+05,15070.333197,20972.193303,1988.118177,1.456547,1993.975060
min,2018.0,0.000000e+00,0.000000e+00,-11560.342000,-8.798000,-22355.000000,11.000000,100.000000
25%,2018.0,1.683590e+02,5.727600e+01,64.951000,56.207000,-13.251000,11.000000,2842.000000
50%,2018.0,1.073091e+03,5.588640e+02,346.549000,418.505000,14.928000,14.000000,4813.000000
75%,2018.0,4.795000e+03,3.131200e+03,1503.738000,2161.407000,156.451000,14.000000,6361.000000
max,2018.0,2.754590e+06,2.610333e+06,352500.000000,511729.000000,59531.000000,14.000000,9997.000000

### Tips: 
### How to create and write in Markdown cells
- Create a new cell by clicking on the plus icon in the menu (second icon next to the "save" one).
- Select "Markdown" instead of "Code" in the drop-down menu next to the last icon (a small keyboard).
- You can type any of your explanatory texts in the markdown cells. After you finish typing, you can run the cell to have the texts presented.
- Markdown is a lightweight coding language that you can use to create rich texts with different formats and sizes. If you want to know the basic language structure, you can go to this [website](https://commonmark.org/help/).

### Command keyboard shortcuts
- There are keyboard shortcuts for major commands, such as creating a new cell, entering the edit mode, and running the cell. You can check those shortcuts by clicking on the small keyboard icon on the far right of the menu.